{% extends 'base.html' %}
{% block title %}Hossam El-Hwary{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
        <h2 class="text-center">Leave Your message</h2>
        <form action="{% url 'blog:message' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    <label>Type your mail to contact you</label>
                        {{ form.email }}
                    </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <div style="text-align: center;">
                <button type="submit" class="btn btn-success">Submit</button>
                </div>
        </form>


      </div>
    </div>

    <div class="col-md-2"></div>
      

    </div>
        
        

</div>


{% endblock %}
