{% extends 'base.html' %}
{% block title %}Hossam El-Hwary{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <h2 class="text-center">{{tutorial.title}}</h2>
            <section>
                {{tutorial.content | safe}}
            </section>
            </div>
    </div>

    <div class="col-md-4">
        {% include 'categories_block.html' %}

    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Leave your stuiped comment!</h2>
            <form accept="{%url 'blog:post' tutorial.pk%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{form.comment}}
                </div>
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {%else%}
                    <a href="{%url 'blog:login'%}">Login</a><p>to comment</p>
                {%endif%}
            </form>
            {%for comment in comments%}
            <h3> {{comment.content}} </h3>
            <h1> {{comment.user.username}} </h1>
        {%endfor%}
        </div>

    </div>

</div>
{% endblock%}