{% extends 'base.html' %}
{% block title %}Hossam El-Hwary{% endblock %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <h2 class="text-center">{{tutorial.title}}</h2>
            <p class="card-text text-center post-info">
                <small class="text-muted">Created at: {{tutorial.updated_at|date:"D d M Y"}}</small>
                <small class="text-muted">Last updated: {{tutorial.updated_at|naturaltime}}</small>
                <small class="text-muted">{{tutorial.min_read}} min read</small>
                <span class="text-muted">Category{{tutorial.category.all|pluralize}}: 
                    {% for category in tutorial.category.all%}
                     {{ category.name }}
                     {%endfor%}
                    
                </span>
                
              </p>
            <section>
                {{tutorial.content | safe}}
            </section>
            </div>
    </div>

    <div class="col-md-4">
        {% include 'categories_block.html' %}

    </div>

    
    <div class="row">
        <div class="col-md-12">
            <h2>Leave your comment!</h2>
            <section class="comment-form">
            <form accept="{%url 'blog:post' tutorial.pk%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group comment">
                    {{form.comment}}
                </div>
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-success">Comment</button>
                {%else%}
                    <strong><a href="{%url 'blog:login'%}">Login</a> <span> to comment</span></strong>
                {%endif%}
            </form>
        </section>
        <hr>

            {%for comment in comments%}
                <div class="comment-block">
                    <img class="float-left img-circle comment-img" src="{% static 'imgs/user.png' %}" alt="avatar">
                    <div class="media-body">
                      <h5 class="custom-heading comment-name">{{comment.user.username}}</h5>
                      <p class="card-text">
                            <small class="text-muted">{{comment.created_at|naturaltime}}</small>
                        </p>
                      <p>{{comment.content}}</p>
                    </div>
                  </div>

        {%endfor%}
        </div>
    </div>

</div>
{% endblock%}