{% extends 'base.html'%}
{%block title%} Hossam El-Hwary {% endblock %}

{% block content %}
    <header class="header">
        <div class="container">
                <img class="img-responsive profile-image img-fluid float-left img-circle " src="https://i.ibb.co/hC72H21/70377660-422076051751174-9088062330599636992-n.jpg" alt="Hossam" />
               
                <div class="profile-content float-left">
                        <h1 class="name">Hossam EL-Hwary</h1>
                        <h2 class="desc">Back-End Developer</h2>   
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>                   
                        </ul> 

                </div>

                <a class="btn btn-success pull-right contact-btn" href="#" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>  
        </div>
    </header>

    <div class="container sections-wrapper  ">
        <div class="row">
            <div class="col-md-8 col-12"> 
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading me-head-text">About Me</h2>
                        <div class="content">
                                <p>
                                    Write a brief intro about yourself. It's a good idea to include your 
                                    personal interests and hobbies as well. Lorem ipsum dolor sit amet, 
                                    consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean 
                                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec. Commodo ligula 
                                    eget dolor. Aenean massa.
                                </p>

                        </div>
                    </div>

                </section>

                <section class="latest section">
                        <div class="section-inner">
                            <h2 class="heading">Latest Projects</h2>
                            <div class="content">
                                <hr class="divider" />
                                <div class="item row">
                                    <a class="col-md-4 col-12" href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/" target="_blank">
                                    <img class="img-fluid project-image" src="https://i.ibb.co/gS2f24N/blog-post-thumb-3.jpg" alt="project name" />
                                    </a>
                                    <div class="desc col-md-8 col-12">
                                        <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/" target="_blank">Instance - Bootstrap 4 Portfolio Theme for Aspiring Full Stack Developers</a></h3>
                                        <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                        <p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                    </div><!--//desc-->                          
                                </div><!--//item-->
                                <hr class="divider" />
                                <div class="item row">
                                    <a class="col-md-4 col-12" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/" target="_blank">
                                    <img class="img-fluid project-image" src="https://i.ibb.co/gS2f24N/blog-post-thumb-3.jpg" alt="project name" />
                                    </a>
                                    <div class="desc col-md-8 col-12">
                                        <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/" target="_blank">DevStudio - Bootstrap 4 Theme for WebDev Agencies and Freelance Developers</a></h3>
                                        <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                        <p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                    </div><!--//desc-->                          
                                </div><!--//item-->
                                
                                
                            </div><!--//content-->  
                        </div><!--//section-inner-->                
                    </section><!--//section-->

                    <section class="github section">
                        <div class="section-inner">
                            <h2 class="heading">My GitHub</h2>
                            <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget. 
                            
                            <div id="github-graph" class="github-graph">
    
                            </div><!--//github-graph-->
    
                            <p>You can also embed your GitHub activities using Casey Scarborough's <a href="https://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget.        
                            <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->                       
                            <div id="ghfeed" class="ghfeed">
                            </div><!--//ghfeed-->
                            
                            <div id="feed"></div>
                        </div><!--//secton-inner-->
                    </section><!--//section-->

            </div>


            <div class="col-md-4">
            </div>

            <div class="secondary col-lg-4 col-12">
                    <aside class="info aside section">
                       <div class="section-inner">
                           <h2 class="heading sr-only">Basic Information</h2>
                           <div class="content">
                               <ul class="list-unstyled">
                                   <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>San Francisco, US</li>
                                   <li><i class="fa fa-envelope"></i><span class="sr-only">Email:</span><a href="#">jameslee@website.com</a></li>
                                   <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">https://www.website.com</a></li>
                               </ul>
                           </div><!--//content-->  
                       </div><!--//section-inner-->                 
                   </aside><!--//aside-->   
                   
                   <aside class="skills aside section">
                        <div class="section-inner">
                            <h2 class="heading">Skills</h2>
                            <div class="content">
                                
                                <div class="skillset">
                                   
                                    <div class="item">
                                        <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fa fa-info-circle"></i>Expert</span></h3>
                                        <div class="level-bar">
                                            <div class="level-bar-inner" data-level="96%">
                                            </div>                                      
                                        </div><!--//level-bar-->                                 
                                    </div><!--//item-->
                                    
                                    <div class="item">
                                        <h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fa fa-info-circle"></i>Expert</span></h3>
                                        <div class="level-bar">
                                            <div class="level-bar-inner" data-level="96%">
                                            </div>                                      
                                        </div><!--//level-bar-->                                 
                                    </div><!--//item-->
                                    
                                    <div class="item">
                                        <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fa fa-info-circle"></i>Expert</span></h3>
                                        <div class="level-bar">
                                            <div class="level-bar-inner" data-level="96%">
                                            </div>                                      
                                        </div><!--//level-bar-->                                 
                                    </div><!--//item-->
                                    
                                    <div class="item">
                                        <h3 class="level-title">Ruby on Rails</h3>
                                
                                    </div><!--//item-->
                     
                                </div>              
                            </div><!--//content-->  
                        </div><!--//section-inner-->                 
                    </aside><!--//section-->


                    <aside class="education aside section">
                            <div class="section-inner">
                                <h2 class="heading">Education</h2>
                                <div class="content">
                                    <div class="item">                      
                                        <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Computer Science</h3>
                                        <h4 class="university">University College London <span class="year">(2011-2012)</span></h4>
                                    </div><!--//item-->
                                    <div class="item">
                                        <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Computer Science</h3>
                                        <h4 class="university">University of Bristol <span class="year">(2008-2011)</span></h4>
                                    </div><!--//item-->
                                </div><!--//content-->
                            </div><!--//section-inner-->
                        </aside><!--//section-->

                        <aside class="education aside section">
                                <div class="section-inner">
                                    <h2 class="heading">Latest Tweets</h2>
                                    
                                    <div class="content">
                                        <a class="twitter-timeline" data-width="520" data-height="600" data-theme="light" href="https://twitter.com/elhwary_6?ref_src=twsrc%5Etfw">Tweets by elhwary_6</a> 
                                        
                                    </div><!--//content-->
                                </div><!--//section-inner-->
                            </aside><!--//section-->

            </div>

        </div>

    </div>

{% endblock %}