{% extends 'base.html'%}
{%block title%} Hossam El-Hwary {% endblock %}

{% block content %}
    <header class="header">
        <div class="container">
                <img class="img-responsive profile-image img-fluid float-left img-circle " src="https://i.ibb.co/hC72H21/70377660-422076051751174-9088062330599636992-n.jpg" alt="Hossam" />
               
                <div class="profile-content float-left">
                        <h1 class="name custom-heading">Hossam EL-Hwary</h1>
                        <h2 class="desc custom-heading">Web Developer</h2>   
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>                   
                        </ul> 

                </div>

                <a class="btn btn-success pull-right contact-btn" href="#" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>  
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="col-md-8 col-12"> 
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading me-head-text custom-heading">About Me</h2>
                        <div class="content">
                                <p>
                                    Write a brief intro about yourself. It's a good idea to include your 
                                    personal interests and hobbies as well. Lorem ipsum dolor sit amet, 
                                    consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean 
                                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec. Commodo ligula 
                                    eget dolor. Aenean massa.
                                </p>

                        </div>
                    </div>

                </section>

                <section class="latest section">
                        <div class="section-inner">
                            <h2 class="heading custom-heading">Latest Projects</h2>
                            <div class="content">
                                <hr class="divider" />
                                <div class="item row">
                                    <a class="col-md-4 col-12" href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/" target="_blank">
                                    <img class="img-responsive img-fluid project-image" src="http://bryukh.com/assets/images/projects/beamBallScreen.jpg" alt="project name" />
                                    </a>
                                    <div class="desc col-md-8 col-12">
                                        <h3 class="title custom-heading"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/" target="_blank">Instance - Bootstrap 4 Portfolio Theme for Aspiring Full Stack Developers</a></h3>
                                        <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                        <p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                    </div><!--//desc-->                          
                                </div><!--//item-->

                                <hr class="divider" />
                                <div class="item row">
                                    <a class="col-md-4 col-12" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/" target="_blank">
                                    <img class="img-responsive img-fluid project-image" src="http://bryukh.com/assets/images/projects/beamBallScreen.jpg" alt="project name" />
                                    </a>
                                    <div class="desc col-md-8 col-12">
                                        <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/" target="_blank">DevStudio - Bootstrap 4 Theme for WebDev Agencies and Freelance Developers</a></h3>
                                        <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                                        <p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                    </div><!--//desc-->                          
                                </div><!--//item-->
                                
                                
                            </div><!--//content-->  
                        </div><!--//section-inner-->                
                    </section><!--//section-->

                    <section class="github section">
                        <div class="section-inner">
                            <h2 class="heading">My GitHub</h2>
                            <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget. 
                            
                            <div id="github-graph" class="github-graph">
    
                            </div><!--//github-graph-->
    
                            <p>You can also embed your GitHub activities using Casey Scarborough's <a href="https://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget.        
                            <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->                       
                            <div id="ghfeed" class="ghfeed">
                            </div><!--//ghfeed-->
                            
                            <div id="feed"></div>
                        </div><!--//secton-inner-->
                    </section><!--//section-->

            </div>


            <div class="col-md-4">
            </div>

            <div class="secondary col-lg-4 col-12">
                    <aside class="info aside section">
                       <div class="section-inner">
                           <h2 class="heading sr-only">Basic Information</h2>
                           <div class="content">
                               <ul class="list-unstyled">
                                   <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Cairo, Egypt</li>
                                   <li><i class="fa fa-envelope"></i><span class="sr-only">Email:</span><a href="#">hossam.elhwary1996@gmail.com</a></li>
                                   <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">https://hossam-hwary.herokuapp.com</a></li>
                                   <li><i class="fa fa-file-pdf-o"></i><span class="sr-only">CV en:</span><a href="#">CV pdf</a></li>
                               </ul>
                           </div><!--//content-->  
                       </div><!--//section-inner-->                 
                   </aside><!--//aside-->   
                   
                   <aside class="skills aside section">
                        <div class="section-inner">
                            <h2 class="heading custom-heading">Skills</h2>
                            <div class="content">
                                
                                <div class="skillset">
                                   
                                    <div class="item">
                                        <h3 class="level-title custom-heading">Python &amp; Django</h3>                                
                                    </div><!--//item-->
                                    
                                    <div class="item">
                                            <h3 class="level-title custom-heading">Flask</h3>                                
                                    </div>

                                    <div class="item">
                                        <h3 class="level-title custom-heading">HTML5, CSS, Bootstrap</h3>                                
                                    </div><!--//item-->
         
                     
                                </div>              
                            </div><!--//content-->  
                        </div><!--//section-inner-->                 
                    </aside><!--//section-->


                    <aside class="education aside section">
                            <div class="section-inner">
                                <h2 class="heading custom-heading">Education</h2>
                                <div class="content">
                                    <div class="item">                      
                                        <h3 class="title custom-heading"><i class="fa fa-graduation-cap"></i> BS Computer Science</h3>
                                        <h4 class="university">Faculty of Computers and Artificial Intelligence - Cairo University<span class="year">(2014-2019)</span></h4>
                                    </div><!--//item-->
                                    <div class="item">
                                        <h3 class="title custom-heading"><i class="fa fa-graduation-cap"></i> Full Stack Web Development Nanodegree</h3>
                                        <h4 class="university">Udacity <span class="year">(2018)</span></h4>
                                    </div><!--//item-->
                                </div><!--//content-->
                            </div><!--//section-inner-->
                        </aside><!--//section-->

                        <aside class="education aside section">
                                <div class="section-inner">
                                    <h2 class="heading">Latest Tweets</h2>
                                    
                                    <div class="content">
                                        <a class="twitter-timeline" data-width="520" data-height="600" data-theme="light" href="https://twitter.com/elhwary_6?ref_src=twsrc%5Etfw">Tweets by elhwary_6</a> 
                                        
                                    </div><!--//content-->
                                </div><!--//section-inner-->
                            </aside><!--//section-->

            </div>

        </div>

    </div>

{% endblock %}