<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/github-activity.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" />
    <title>{% block title%}{% endblock %}</title>
</head>
<body>



    <main class="container">
        <div class="row">
        
        <div class="col-md-10">
            <h1 class="text-center">Hossam's Blog</h1>

            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav nav-list-edit">
                            <li><a class="navbar-brand nav-edit" href="{% url 'blog:homepage'  %}">Blog posts</a></li> 
                            <li><a class="navbar-brand nav-edit" href="{% url 'blog:aboutme'%}">Who am I?</a></li>  
                            <li><a class="navbar-brand nav-edit" href="{%url 'blog:message'%}">Contact me</a></li>
                            {%if user.is_authenticated%}
                            <li><a class="navbar-brand nav-edit" href="{% url 'logout'%}">Logout</a></li>
                            {%else%}
                            <li><a class="navbar-brand nav-edit" href="{% url 'blog:login'%}">Login</a></li>
                            {%endif%}
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
    
        </div>
        
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}

                    {% if message.tags == "info"%}
                    <div class="isa_info">
                        <i class="fa fa-info-circle"></i>
                        {{message}}
                    </div>
                    {%elif message.tags == "success"%}
                    <div class="isa_success">
                        <i class="fa fa-check"></i>
                        {{message}}
                   </div>
                    {% elif message.tags == "warning"%}
                    <div class="isa_warning">
                        <i class="fa fa-warning"></i>
                        {{message}}
                   </div>
                    {%elif message.tags == "error"%}
                    <div class="isa_error">
                        <i class="fa fa-times-circle"></i>
                        {{message}}
                     </div>
                     {% endif %}
                    
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
        {% block content %}

        {% endblock %}

    </main>
    
    <!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://github.com/hussamEL-Hwary"> Hossam</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="{% static 'js/github-activity.js' %}"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
      GitHubActivity.feed({ username: "hussamEL-Hwary", selector: "#feed" });
    </script>
</body>
</html>